# Vegetable Prices for the year 2023

In [42]:
from IPython.display import display, HTML, Image

# Display the image in the center of the notebook
display(HTML('<center><img src="vegetable_market_scene.jpg" width="500" height="500"></center>'))

### Table of Content

#### [1. Project Overview](#1.Project_Overview)
- [1.1 Introduction](#1.1_Introduction)
- [1.2 Problem Statement](#1.2_Problem_Statement)
- [1.3 Objectives](#1.3_Objectives)
####  [2. Importing Packages](#2.Import_Packages)
#### [3. Loading Data](#3.Loading_data)
#### [4. Data Cleaning](#4.Data_Cleaning)
#### [5. Exploratory Data Analysis (EDA)](#5.Exploratory_Data_Analysis_(EDA))
#### [6. Conclusion](#6.Conclusion)

### 1.Project_Overview

#### 1.1_Introduction

##### This dataset captures the price fluctuations of various vegetables over a specific timeframe, offering insights into market trends, seasonal impacts, and overall price volatility. The data encompasses details like the vegetable name, unit price, By analyzing this dataset, we can uncover patterns in vegetable pricing, evaluate the influence of external factors like weather or economic conditions, and predict future price trajectories.

#### 1.2_Problem_Statement

#### 1.3_Objectives

### 2.Import_Packages

In [45]:
# Libraries for data loading, manipulation and analysis

import numpy as np
import pandas as pd
import csv
import seaborn as sns
import matplotlib.pyplot as plt

# Displays output inline
%matplotlib inline

# Libraries for Handing Errors
import warnings
warnings.filterwarnings('ignore')

### 3.Loading_data

In [46]:
import pandas as pd

df = pd.read_csv('prices.csv')

<h5 style="color:black">3.1: Describe the dataset</h5>

In [47]:
df.describe()

,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
count,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000
mean,29.444251,16.006969,20.649826,18.585366,31.655052,133.101045,66.658537,20.383275,44.122404,28.797909
std,8.124815,0.118056,11.711204,2.726238,11.725421,60.078331,33.302415,117.428417,12.796590,6.607973
min,17.000000,16.000000,8.000000,12.000000,14.000000,50.000000,22.000000,5.000000,0.130000,12.000000
25%,22.000000,16.000000,12.000000,16.000000,25.000000,85.000000,40.000000,8.000000,35.000000,25.000000
50%,27.500000,16.000000,16.000000,20.000000,30.000000,120.000000,60.000000,12.000000,40.000000,30.000000
75%,33.000000,16.000000,25.000000,20.000000,35.000000,165.000000,80.000000,16.000000,50.000000,30.000000
max,60.000000,18.000000,57.000000,24.000000,80.000000,290.000000,150.000000,2000.000000,90.000000,50.000000

### 4.Data_Cleaning

### 5.Exploratory_Data_Analysis_(EDA)

### 6.Conclusion